:root {
  --primary-bg-colour: #070c0f;
  --primary-text-colour: #dfdfdf;
  --menu-text-colour: #805a12;
  --active-menu-text-colour: #e2ba37;
  --active-text-colour: #dfdfdf;
  --hover-text-colour: #296775;
  --heading1-colour: #e2e9eb;
  --heading2-colour: #e2e9eb;
  --heading3-colour: #e2e9eb;
  --button-colour: #296775;  
  --button-colour-hover: #498795;    
  --hyperlink-colour: #296775;
  --hyperlink-colour-hover: #498795;    
  --bg-colour: #070c0f;
}

figure.bandpic {
    margin-left: 39%;
}

.centred_text {
    text-align: center;
    margin-bottom: -5px !important;
}

/* style for the mobile pop-up menu */
@media screen and (max-width:768px) {
     .menu {
     list-style:none;
     font-size:15px;
     position:absolute;
     right:0;
     z-index:5;
     margin-bottom: 5px;
     padding:5px;
     background:var(--code-bg);
     border-radius:var(--radius);
     border:0px solid var(--tertiary);
     line-height:1.2;
     margin:calc(var(--header-height) - var(--gap))var(--gap);
     display:block
    }
    .list .menu {
     background:var(--entry)
    }
    .menu li+li {
     margin-inline-start:0
    }
    #menu-trigger {
     font-size:30px;
     position:relative;
     display:block;
     float:right;
     margin:auto var(--gap)
    }
    .hidden {
        display:none
    }
}

/* hide the mobile pop-up menu on big screens */
@media screen and (min-width:769px) {
	#menu-trigger {
     display:none
	}
	.menu {
   		width: 100%;
   		display: table;
   		text-align: center;
	}

	.menu li {
        display: inline-block;
     	float: none;
	}   
}

.logo {
    margin-left: 13.5%;
    margin-right: 5%;
}

.menu {
    margin-left: 10%;
    margin-right: 10%;
}

.menu a {
    color:  var(--menu-text-colour);
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 150%;
    margin-left: 7px;
    margin-right: 7px;
}

.menu .active {
    color: var(--active-menu-text-colour);
    font-weight: bold;
    text-decoration: none;
}

p {
    color: var(--primary-text-colour);
    font-family: Georgia, Garamond, serif;
}

a {
    color: var(--hyperlink-colour);
    text-decoration: none;
}
.md-content a:not(.anchor) {
    text-decoration: none;
}
a:hover {
    color: var(--hyperlink-colour-hover);
}

h1 {
    color: var(--heading1-colour);
}

h2 {
    color: var(--heading2-colour);
}

h3 {
    color: var(--heading3-colour);
}

body {
    margin-top: 0.6%;
    background-color: var(--bg-colour);
}

#top {
    margin-top: 0.6%;
    background-color: var(--bg-colour);
}


.post-content {
    margin-top: 0px;
}

.post-single {
    margin-top: -30px;
}

.mc_contact_flex {
    display: flex;
}

.mc_contact_flex img{
    margin-top:0px;
    margin-left:10px;
}


/* contact form */
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=email], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
button[type=submit] {
  background-color: var(--button-colour);
  color: white;
  padding: 2px 70px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
button[type=submit]:hover {
  background-color: var(--button-colour-hover);
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
