<form name="contact" action="/form_success" method="POST" data-netlify="true" netlify-honeypot="bot_field" data-netlify-recaptcha="true">
  <div class="row">
    <p>
      <label>Your name: <input type="text" name="name" /></label>
    </p> 
  </div>
  <div class="row">
    <p>
      <label>Your email address: <input type="email" name="email" /></label>
    </p>
  </div>
  <div class="row">
    <p>
      <label>Message: <textarea name="message"></textarea></label>
    </p>
  <div data-netlify-recaptcha="true"> </div>
  <div>
    <p class="hidden">
      <label>Don't fill this out if you're human: (ignore): <input name="bot_field" /></label>
    </p>
  <div class="row">
    <p>
      <button type="submit" style="margin-top:20px">Send</button>
    </p>
  </div>
</form>
